
.nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

.nv-controlsWrap{
  .nv-legend-symbol{
    fill: #666 !important;
    stroke: #666 !important;
  }
}

.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}

.nvd3 .nv-axis line{
  stroke: #000;
  stroke-opacity: .1;
}

.nvtooltip h3{
  background-color: transparent;
  border: none;
  color: inherit;
}
