#nodejs-container {
    background: none !important;
    max-height: 650px;
    overflow: hidden;
}

.extra-large {
    height: 630px;
}

.chat-messages {
    height: 560px !important;
}

#site-alerts {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
}

#password_toggle {
    cursor: pointer;
}

.site-alert {
    margin-top: 50px;
}